#root {
  justify-content: center;
  display: flex;
}

.main {
  padding: 10px;
  margin: 50px;
  border: solid black 1px;
}

.title {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.new_task {
  display: flex;
  margin: 10px;
  div {
    margin-left: 10px;
  }
}

