html {
  background-color: #003049;
}


#root {
  justify-content: center;
  display: flex;
  background-color: #003049;
  color: white;

}

button {
  color: black;
}

input {
  color: black;
}

.main {
  padding: 10px;
  margin: 50px;
  border: solid white 1px;
}

.title {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.task {
  display: flex;
  margin: 10px;
  div {
    margin-left: 10px;
  }
}

.delete {
  border: 1px solid white;
  border-radius: 50%;
  color: black;
  justify-content: flex-end;
}
